
:root {
    --main-color: #329bfe;
    --page-hue: 180deg;
}

body {
    background-color: hsl(from var(--main-color) var(--page-hue) s 13%);
    & *{ color: white; margin:0;}
}

button {
    background-color: hsl(from var(--main-color) var(--page-hue) s 5%);
    outline: 0.2rem solid hsl(from var(--main-color) var(--page-hue) s 15%);

    &:hover {
        background-color: hsl(from var(--main-color) var(--page-hue) s 10%);
        outline: 0.2rem solid hsl(from var(--main-color) var(--page-hue) s 35%);
    }

    &:active {
        translate: 0 0.1rem;
    }

    cursor: pointer;
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    font-family: 'Roboto',
    sans-serif;
    font-weight: 500;
}
.node{
    background-color: hsl(from var(--main-color) var(--page-hue) s 5%);
    outline: 0.2rem solid hsl(from var(--main-color) var(--page-hue) s 15%);
    padding: 1em 1.5em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.placing {
        outline: 0.2rem solid hsl(from var(--main-color) var(--page-hue) s 35%);
    }
}
.circle{
    width: 1em;
    height: 1em;
    min-width: 1em;
    min-height: 1em;
    border-radius: 50%;
}
.plus{
    &:before{
        content:"+";
        width: 1em;
        height: 1em;
        font-weight: 600;
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
};
.transpared{
    border: 2px solid transparent;
    color: hsl(from var(--main-color) calc(var(--page-hue) - 180deg) s 65%);
}
.redfill{
    background-color: hsl(from var(--main-color) calc(var(--page-hue) - 180deg) s 65%);
}
.orange{
    background-color: #0007;
    border: 2px solid hsl(from var(--main-color) calc(var(--page-hue) - 90deg) s 75%);
}
.orangefill{
    background-color: hsl(from var(--main-color) calc(var(--page-hue) - 90deg) s 75%);
}
.triangle{
    /* make the div a play button */
    width: 1em;
    height: 1em;
    clip-path: polygon(0% 10%, 100% 55%, 0% 100%);
}
.red{
    background-color: #0007;
    border: 2px solid hsl(from var(--main-color) calc(var(--page-hue) - 180deg) s 65%);
}

.green{
    background-color: green;
}
.white{
    background-color: white;
}
.ash{
    background-color: #0007;
    border: 2px solid hsl(from var(--main-color) var(--page-hue) s 45%);
}
.ashfill{
    background-color: hsl(from var(--main-color) var(--page-hue) s 45%);
}
.transpash{
    border: 2px solid transparent;
    color: hsl(from var(--main-color) var(--page-hue) s 45%);
}
.string .line [contenteditable="true"]{
    background-color: hsl(from var(--main-color) var(--page-hue) s 25% / 10%);
    &:focus{
        background-color: hsl(from var(--main-color) var(--page-hue) s 25%);
    }
    border-radius: 0.2em;
    width: 80%;
    max-width: 19em;
    padding:0.5rem;
}

